<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.craiganderson.filament-docs</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>55304EA7-02C8-4736-8CE9-B94B3190D187</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0BE7549-4E85-86DC-BF89-E30C0D797564</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7DA93460-4A4F-47E1-871B-7D461A5B7306</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0BE7549-4E85-86DC-BF89-E30C0D797564</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>947E3432-AAE6-408E-A750-570ED8B26F03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0BE7549-4E85-86DC-BF89-E30C0D797564</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BA0F1293-462E-966E-0A15-7C84BCFBC501</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0BE7549-4E85-86DC-BF89-E30C0D797564</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Craig Anderson</string>
	<key>description</key>
	<string>An ultra-fast Filament docs search workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Filament Docs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>fm</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching docs for "{query}"...</string>
				<key>script</key>
				<string>if [ -f "/opt/homebrew/bin/php" ]; then
    /opt/homebrew/bin/php filament.php "{query}" v3
elif [ -f "/usr/local/bin/php" ]; then
    /usr/local/bin/php filament.php "{query}" v3
elif [ -f "/usr/bin/php" ]; then
    /usr/bin/php filament.php "{query}" v3
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search the Filament Docs...</string>
				<key>title</key>
				<string>Filament Docs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BA0F1293-462E-966E-0A15-7C84BCFBC501</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A0BE7549-4E85-86DC-BF89-E30C0D797564</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>fm3</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching docs for "{query}"...</string>
				<key>script</key>
				<string>if [ -f "/opt/homebrew/bin/php" ]; then
    /opt/homebrew/bin/php filament.php "{query}" v3
elif [ -f "/usr/local/bin/php" ]; then
    /usr/local/bin/php filament.php "{query}" v3
elif [ -f "/usr/bin/php" ]; then
    /usr/bin/php filament.php "{query}" v3
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search the Filament 3.x Docs...</string>
				<key>title</key>
				<string>Filament Docs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>55304EA7-02C8-4736-8CE9-B94B3190D187</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>fm2</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching docs for "{query}"...</string>
				<key>script</key>
				<string>if [ -f "/opt/homebrew/bin/php" ]; then
    /opt/homebrew/bin/php filament.php "{query}" v2
elif [ -f "/usr/local/bin/php" ]; then
    /usr/local/bin/php filament.php "{query}" v2
elif [ -f "/usr/bin/php" ]; then
    /usr/bin/php filament.php "{query}" v2
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search the Filament 2.x Docs...</string>
				<key>title</key>
				<string>Filament 2.x Docs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DA93460-4A4F-47E1-871B-7D461A5B7306</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>fm1</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching docs for "{query}"...</string>
				<key>script</key>
				<string>if [ -f "/opt/homebrew/bin/php" ]; then
    /opt/homebrew/bin/php filament.php "{query}" v1
elif [ -f "/usr/local/bin/php" ]; then
    /usr/local/bin/php filament.php "{query}" v1
elif [ -f "/usr/bin/php" ]; then
    /usr/bin/php filament.php "{query}" v1
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search the Filament 1.x Docs...</string>
				<key>title</key>
				<string>Filament 1.x Docs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>947E3432-AAE6-408E-A750-570ED8B26F03</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>An ultra-fast Filament docs search workflow for Alfred.

## Usage

To search the [3.x docs](https://filamentphp.com/docs/3.x/panels/installation), just type `fm` (or `fm3`) followed by your search query.

```
fm &lt;query&gt;
```

To search the [2.x docs](https://filamentphp.com/docs/2.x/admin/installation), just type `fm2` followed by your search query.

```
fm2 &lt;query&gt;
```

To search the [1.x docs](https://filamentphp.com/docs/1.x/admin/getting-started), just type `fm1` followed by your search query.

```
fm1 &lt;query&gt;
```

Either press `⌘Y` to Quick Look the result, or press `&lt;enter&gt;` to open it in your web browser.</string>
	<key>uidata</key>
	<dict>
		<key>55304EA7-02C8-4736-8CE9-B94B3190D187</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>7DA93460-4A4F-47E1-871B-7D461A5B7306</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>947E3432-AAE6-408E-A750-570ED8B26F03</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>A0BE7549-4E85-86DC-BF89-E30C0D797564</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>BA0F1293-462E-966E-0A15-7C84BCFBC501</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/intrepidws/alfred-filament-docs</string>
</dict>
</plist>
